.auth-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;;
}

.question-text {
  display: inline-text;
  margin-right: 7px;
}

.auth-btn {
  position: relative;
  min-width: 70px;
  min-width: 38px;
}